@using Web.Utils.Helpers
@using Web.Utils.Bundle
@using Environment = Core.Environment.Environment
@model List<string>
@{
	ViewBag.Title = "About";
	ViewBag.Description = "Find out more about the Kicksware project, its developer, and the intents of its creation";
	Layout = "~/Views/Shared/_Layout.cshtml";

	const string coverParallax = "{ 'translateY': '50%', 'opacity': 0.5}";
	const string titleParallax = "{ 'translateY': '75%', 'opacity': 0.5 }";
	const string windowAssetParallax = "{ 'translateY': '50%' }";
	const string figureParallax = "{'translateY': '100%'}";
	const string mobileFigureParallax = "{'top': '100%'}";

	const string windowIllustrationCredit = "https://mvsm.com/project/air-max-day-18";
	const string handIllustrationCredit = "https://mindsparklemag.com/design/nike-amd-revolution";
}

@section Styles
{
	<link rel="stylesheet" href="@Bundle.GetAssetName("about", "css")" asp-append-version="true"/>
}

<section class="about-section title-section hero-parallax" data-scrollax-parent="true">
	<div class="section-cover" style="background-image: url(@Model[0])" data-scrollax="properties: @coverParallax"></div>
	<div class="hero-content section-content" data-scrollax="properties: @titleParallax">
		<span class="bread">ABOUT US</span>
		<span class="sub-bread">GET TO KNOW US BETTER</span>
		<breadcrumb></breadcrumb>
		<a class="sean-go" href="https://seango.ca" target="_blank" data-tooltip="Check out more amazing sneaker photos by Sean Go!">
			@Html.VectorIconRender("sean-go.svg")
		</a>
	</div>
</section>
<section class="about-section title-section" id="what" data-scrollax-parent="true">
	<div class="section-cover" style="background-image: url(@Model[1])" data-scrollax="properties: @coverParallax"></div>
	<div class="section-content" data-scrollax="properties: @titleParallax">
		<h1 class="section-title">WHAT?</h1>
		<hr/>
		<h4 class="section-subtitle">NOT WHAT YOU THINK IT IS</h4>
	</div>
</section>
<section class="about-section logo-section" id="logo" data-scrollax-parent="true">
	<div class="section-cover" style="background-image: url(@Model[2])" data-scrollax="properties: @coverParallax"></div>
	<div class="logo-wrapper" data-scroll data-speed="3" data-scrollax="properties: { 'translateY': '300vh' }">
		@Html.VectorIconRenderFromPath(System.IO.Path.Combine(Environment.LocalStoragePath, "logos", "kicksware.svg"), "logo", "kicksware-logo")
		<h1 class="logo-title kicksware">KICKSWARE</h1>
		<a class="credit-logo" id="traefik-logo" href="https://traefik.io" target="_blank"
			data-scroll data-targetX="4" data-targetY="-25" data-portion="1">
			@Html.VectorLogoRender("traefik.svg")
		</a>
		<a class="credit-logo" id="mongodb-logo" href="https://www.mongodb.com/" target="_blank"
			data-scroll data-targetX="20" data-targetY="-12" data-portion="1">
			@Html.VectorLogoRender("mongodb.svg")
		</a>
		<a class="credit-logo" id="postgres-logo" href="https://www.postgresql.org" target="_blank"
			data-scroll data-targetX="-10" data-targetY="-12" data-portion="1">
			@Html.VectorLogoRender("postgresql.svg")
		</a>
		<a class="credit-logo" id="redis-logo" href="https://redis.io" target="_blank"
			data-scroll data-targetX="-15" data-targetY="20" data-portion="1">
			@Html.VectorLogoRender("redis.svg")
		</a>
		<a class="credit-logo" id="elastic-logo" href="https://www.elastic.co/elasticsearch" target="_blank"
			data-scroll data-targetX="23" data-targetY="20" data-portion="1">
			@Html.VectorLogoRender("elasticsearch.svg")
		</a>
		<a class="credit-logo" id="kibana-logo" href="https://www.elastic.co/kibana" target="_blank"
			data-scroll data-targetX="4" data-targetY="40" data-portion="1">
			@Html.VectorLogoRender("kibana.svg")
		</a>
		<a class="credit-logo" id="github-logo" href="https://github.com/timoth-y/kicksware-platform" target="_blank"
			data-scroll data-targetX="-25" data-targetY="33" data-portion="2">
			@Html.VectorLogoRender("github.svg")
		</a>
		<a class="credit-logo" id="gitlab-logo" href="https://about.gitlab.com/stages-devops-lifecycle" target="_blank"
			data-scroll data-targetX="35" data-targetY="35" data-portion="2">
			@Html.VectorLogoRender("gitlab.svg")
		</a>
		<a class="credit-logo" id="k8s-logo" href="https://kubernetes.io" target="_blank"
			data-scroll data-targetX="-25" data-targetY="-20" data-portion="2">
			@Html.VectorLogoRender("kubernetes.svg")
		</a>
		<a class="credit-logo" id="helm-logo" href="https://helm.sh" target="_blank"
			data-scroll data-targetX="33" data-targetY="-20" data-portion="2">
			@Html.VectorLogoRender("helm.svg")
		</a>
		<a class="credit-logo" id="golang-logo" href="https://golang.org" target="_blank"
			data-scroll data-targetX="45" data-targetY="-30" data-portion="3">
			@Html.VectorLogoRender("gopher.svg")
		</a>
		<a class="credit-logo" id="glusterfs-logo" href="https://www.gluster.org" target="_blank"
			data-scroll data-targetX="-40" data-targetY="-30" data-portion="3">
			@Html.VectorLogoRender("glusterfs.svg")
		</a>
		<a class="credit-logo sean-go" href="https://seango.ca" target="_blank"
			data-scroll data-targetX="-40" data-targetY="40" data-portion="3">
			@Html.VectorIconRender("sean-go.svg")
		</a>
		<a class="credit-logo" id="do-logo" href="https://www.digitalocean.com" target="_blank"
			data-scroll data-targetX="45" data-targetY="40" data-portion="3">
			@Html.VectorLogoRender("digitalocean.svg")
		</a>
		<a class="credit-logo" id="jetbrains-logo" href="https://www.jetbrains.com" target="_blank"
			data-scroll data-targetX="-43" data-targetY="2" data-portion="3">
			@Html.VectorLogoRender("jetbrains.svg")
		</a>
		<a class="credit-logo" id="asp-logo" href="https://dotnet.microsoft.com/apps/aspnet" target="_blank"
			data-scroll data-targetX="48" data-targetY="2" data-portion="3">
			@Html.VectorLogoRender("aspnet-core.svg")
		</a>
		<a class="credit-logo" id="stadium-logo" href="https://www.stadiumgoods.com" target="_blank"
			data-scroll data-targetX="-30" data-targetY="5" data-portion="2">
			@Html.VectorLogoRender("stadium-goods.svg")
		</a>
		<a class="credit-logo" id="goat-logo" href="https://www.goat.com" target="_blank"
			data-scroll data-targetX="35" data-targetY="4" data-portion="2">
			@Html.VectorLogoRender("goat.svg")
		</a>
	</div>
</section>
<section class="about-section info-section" data-scrollax-parent="true">
	<figure class="figure" data-scroll data-depth="0.7" data-mobile_speed="4" data-scrollax="properties: @figureParallax"></figure>
	<div class="section-content" data-scroll data-depth="1.2">
		<article class="section-article">
			<p>
				<span class="kicksware">Kicksware</span> is designed <b>by and for</b> the sneakerheads to be a modular, all-in-one, end-to-end e-commerce platform as a part of the luxury fashion worldwide ecosystem.
			</p>
			<p>
				It capable of providing opportunity, place, and services not only to a passionate buyer or a prosperous seller
				but those who encourage authenticity, sustain individuality
				and seeking like-minded personalities to further cooperation and collaboration.
			</p>
			<p>
				And although <span class="kicksware">Kicksware</span> has the potential to become both a commercial and production-ready platform to pursue those goals,
				it is actually intended to be a <b>noncommercial research</b> project dedicated to showcasing and support
				the use of modern, cloud-native, up-and-coming, pushing edge technologies
				in the context of the nowadays fashion industry
				while making its part in building a better, more comfortable, more authentic, and more creative ecosystem.
			</p>
			<p>
				However, it is entirely possible for it to evolve into something more in the indefinite future.
				Therefore, <span class="kicksware">Kicksware</span> will continue to exist to adopt new, even more groundbreaking technologies
				while never stop being completely <a href="https://github.com/timoth-y/kicksware-platform">open-source</a>.
			</p>
		</article>
		<a class="hand-wrapper" href="@handIllustrationCredit" target="_blank" data-direction="1">
			<img class="hand-asset" src=@($"{Environment.FileStoragePath}/assets/hand-air-max-90-3.png") alt/>
		</a>
	</div>
	<a class="window-asset" href="@windowIllustrationCredit" target="_blank"
		data-scroll data-depth="1.5" data-scrollax="properties: @windowAssetParallax">
		<img src=@($"{Environment.FileStoragePath}/assets/window-air-max-97.png") alt/>
	</a>
</section>
<section class="about-section title-section" id="who" data-scrollax-parent="true">
	<div class="section-cover" style="background-image: url(@Model[3])" data-scrollax="properties: @coverParallax"></div>
	<div class="section-content" data-scrollax="properties: @titleParallax">
		<h1 class="section-title">WHO?</h1>
		<hr/>
		<h4 class="section-subtitle">«THE ONE»</h4>
	</div>
</section>
<section class="about-section info-section" data-scrollax-parent="true">
	<figure class="figure" data-scroll data-depth="0.7" data-mobile_speed="4" data-scrollax="properties: @figureParallax"></figure>
	<div class="section-content" data-scroll data-depth="1.2">
		<article class="section-article">
			<div id="mobile-bio-trigger" style="position: absolute; top: -300px;"></div>
			<p>
				Before describing the story behind the creation and explanation of Kicksware's mission and goals, it will be appropriate
				for you to get familiar with its creator while discovering some essential information about me:
			</p>
			<p>
				My name is <strong>Timothy Yalugin</strong>. I'm a Ukraine-based full-stack software engineer specializing in designing,
				developing, and maintaining complex, scalable web applications, and cloud solutions.
				I'm also moving towards Software Architecture in my career path as it is my long-term goal for the future.
				As for today, I am in constant search of experience working with new diverse technologies, tools, languages,
				workflows, and projects to gain fundamental knowledge for designing even more complex,
				more secure, and more groundbreaking software infrastructure systems.
			</p>
			<div id="bio-trigger"></div>
			<p>
				If you happen to have a project that can interest me, please continue scrolling to the last section of this page.
				Otherwise, this all is about letting you know that exactly passion for creating,
				building, and discovering new was the main reason for <span class="kicksware">Kicksware</span> to exist.
			</p>
		</article>
		<a class="hand-wrapper" href="@handIllustrationCredit" target="_blank" data-direction="-1">
			<img class="hand-asset" src=@($"{Environment.FileStoragePath}/assets/hand-air-max-90-1.png") alt/>
		</a>
	</div>
	<div class="asset-wrapper" data-scroll data-depth="1.5" data-scrollax="properties: @windowAssetParallax">
		<a class="window-asset" href="https://www.behance.net/gallery/74321253/Subvert-87" target="_blank">
			<img src=@($"{Environment.FileStoragePath}/assets/window-react-element.png") alt/>
		</a>
		<a class="window-asset" id="creator-window" href="https://github.com/timoth-y" target="_blank">
			<img src=@($"{Environment.FileStoragePath}/assets/window-creator.png") alt/>
		</a>
	</div>
</section>
<section class="about-section title-section" id="why" data-scrollax-parent="true">
	<div class="section-cover" style="background-image: url(@Model[4])" data-scrollax="properties: @coverParallax"></div>
	<div class="section-content" data-scrollax="properties: @titleParallax">
		<h1 class="section-title">WHY?</h1>
		<hr/>
		<h4 class="section-subtitle">THE SHORT STORY LONG</h4>
	</div>
</section>
<section class="about-section info-section" data-scrollax-parent="true">
	<figure class="figure" data-scroll data-depth="0.7" data-mobile_speed="6.5" data-scrollax="properties: @figureParallax"></figure>
	<div class="section-content" data-scroll data-depth="1.2">
		<article class="section-article">
			<p>
				Same as any other new thing, <span class="kicksware">Kicksware</span> also started as an idea. And although it might sound a bit confusing,
				I genuinely wanted to build a cloud-native web-application deliberately using microservice architecture.
			</p>
			<p>
				If you are wondering the sense behind putting a few general words in such a fancy new way, unfortunately, this is not the right place for it.
				However, I might just give you a hint - <a href="https://martinfowler.com/architecture/#:~:text=Architecture%20is%20about%20the%20important%20stuff.%20Whatever%20that%20is" target="_blank">
					“Architecture is about the important stuff. Whatever that is”
				</a>.
			</p>
			<p>
				Anyway, the thing you should know is that all that you're seeing here was originally
				created as part of my exploration and research of modern technologies and the need behind them.
			</p>
			<p>
				<em>So is it all about sneakers or not?</em>&ensp;Well yes, it totally is! No matter it all started as a small side-project afterwards,
				I use my passion for fashion, especially sneakers, as the soul of a future product as well as an endless source of enthusiasm.
			</p>
			<p>
				As a result, <span class="kicksware">Kicksware</span> ends up being a web-based market platform such as <a href="https://www.stadiumgoods.com/" target="_blank">Stadium Goods</a>,
				<a href="https://www.grailed.com/" target="_blank">Grailed</a>,
				<a href="https://www.goat.com/" target="_blank">GOAT</a> or <a href="https://stockx.com/" target="_blank">StockX</a>.
				And even though there are plenty more of these today, eventually <span class="kicksware">Kicksware</span> is a completely different type of product.
				Since <span class="kicksware">Kicksware</span> is not trying to make any money but on the contrary,
				intentionally promotes other shops by redirecting its user to their websites, directly to the page
				where he\she can purchase a pair of sneakers he\she liked and tried to buy on this website.
			</p>
			<p>
				With that being said, <span class="kicksware">Kicksware</span>'s mission is also intended to inspire like-minded enthusiasts to
				also start building things in the quest for a greater, more authentic, and more creative future!
			</p>
		</article>
		<a class="hand-wrapper" href="@handIllustrationCredit" target="_blank" data-direction="1">
			<img class="hand-asset" src=@($"{Environment.FileStoragePath}/assets/hand-air-max-90-5.png") alt/>
		</a>
	</div>
	<a class="window-asset" href="@windowIllustrationCredit" target="_blank"
		data-scroll data-depth="1.3" data-scrollax="properties: @windowAssetParallax">
		<img src=@($"{Environment.FileStoragePath}/assets/window-air-max-97-vapormax.png") alt/>
	</a>
</section>
<section class="about-section title-section" id="next" data-scrollax-parent="true">
	<div class="section-cover" style="background-image: url(@Model[5])" data-scrollax="properties: @coverParallax"></div>
	<div class="section-content" data-scrollax="properties: @titleParallax">
		<h1 class="section-title">NEXT</h1>
		<hr/>
		<h4 class="section-subtitle">HINT: YOU</h4>
	</div>
</section>
<section class="about-section info-section" data-scrollax-parent="true">
	<figure class="figure" data-scroll data-depth="0.7" data-mobile_speed="4" data-scrollax="properties: @figureParallax"></figure>
	<div class="section-content" data-scroll data-depth="1.2">
		>
		<article class="section-article">
			<p>
				The original goal of this whole campaign is, in fact, already fully achieved.
			</p>
			<p>
				I've discovered a crazy amount of new priceless knowledge and valuable experience that is not only useful now but also will make its way to the core for my future projects.
				<br/>
				I've acquired skills of usage and get to know plenty of new, crazy-powerful, groundbreaking technologies
				as well as high-order architectures, design patterns, and paradigms of web services and cloud systems development.
			</p>
			<p>
				So my work here can be called done. However, like any parent wants his child to have a better future,
				I also have hope for <span class="kicksware">Kicksware</span> to become a thing.
			</p>
			<p>
				In order to achieve this, I really could use another hothead to kinda level up the game.
				So if you have some ideas on how to take advantage of this well-designed, built, and pretty much
				ready-to-use platform, then feel free to contact me and I hope together we will make it work!
			</p>
			<p>
				Also if you happen to have your stunning exceptional idea that can put my passion and
				enthusiasm for creating new staff into a truly inspiring and worthwhile direction,
				I encourage you to use the next section of this page in order to help us both!
			</p>
		</article>
		<a class="hand-wrapper" href="@handIllustrationCredit" target="_blank" data-direction="-1">
			<img class="hand-asset" src=@($"{Environment.FileStoragePath}/assets/hand-air-max-90-4.png") alt/>
		</a>
	</div>
	<a class="window-asset" href="@windowIllustrationCredit" target="_blank"
		data-scroll data-depth="1.4" data-scrollax="properties: @windowAssetParallax">
		<img src=@($"{Environment.FileStoragePath}/assets/window-air-max-93.png") alt/>
	</a>

</section>
<section class="about-section contact-section" id="collab" data-scrollax-parent="true">
	<figure class="rectangle"></figure>
	<figure class="circle"></figure>
	<figure class="square mobile" data-scrollax="properties: @mobileFigureParallax"></figure>
	<figure class="square mobile" data-scrollax="properties: @mobileFigureParallax"></figure>
	<div class="section-caption">
		<h1>LET'S COLLAB</h1>
		<hr/>
	</div>
	<div class="contact-info">
		<div class="contact-col">
			<h3>
				IF YOU ARE INTERESTED IN COOPERATION PLEASE LET ME KNOW
			</h3>
			<a href="mailto:timothy@kicksware.com">TIMOTHY@KICKSWARE.COM</a>
			<h3>
				OR VIA:
			</h3>
			<a asp-action="Contact" asp-controller="Contact">CONTACT PAGE</a>
		</div>
		<div class="contact-col">
			<h3>
				YOU CAN ALSO FOLLOW ME AT:
			</h3>
			@{
				await Html.RenderPartialAsync("_SocialPartial", "grid");
			}
		</div>
	</div>
</section>


@section Scripts
{
	<script src="@Bundle.GetAssetName("about", "js")" asp-append-version="true"></script>
}