@using Web.Utils.Helpers
@using Web.Models.Auth
@using Core.Services
@using Microsoft.AspNetCore.Identity
@using Core.Entities.Users
@using Core.Extension
@using Web.Controllers

@{
	ViewBag.Theme = ProfileController.GetCookieTheme(Context.Request).GetEnumMemberValue();
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>@ViewBag.Title | Kicksware </title>
	<link rel="icon" type="image/x-icon" href="https://kicksware.com/favicon.ico">
	<link rel="stylesheet" href="~/dist/layout.css" asp-append-version="true" />
	@await RenderSectionAsync("Styles", false)
</head>
<body class="@($"theme-{ViewBag.Theme}")">
<div class="super_container">
	<div class="header-spacer"></div>
	<header class="header">
		<div class="header_container">
			<button class="search mobile-search">
				@Html.VectorIconRender("search.svg")
			</button>
			<div class="header_content">
				<div class="logo">
					<a asp-controller="Home" asp-action="Index">KICKSWARE</a>
				</div>
				@{
					await Html.RenderPartialAsync("Header/_MainNavPartial");
					await Html.RenderPartialAsync("Header/_IconNavPartial");
				}
			</div>
		</div>
		<!-- Search Panel -->
		@{
			await Html.RenderPartialAsync("Header/_SearchPartial");
		}

		<!-- Mobile Menu -->
		<div class="hamburger">
			<span></span>
			<span></span>
			<span></span>
		</div>
		@{
			await Html.RenderPartialAsync("Header/_MobileMenuPartial");
		}
	</header>
	<div id="scroll-trigger"></div>

	<div class="modal fade" tabindex="-1" id="auth-modal" data-keyboard="false" data-backdrop="static">
		@{
			await Html.RenderPartialAsync("../Auth/_AuthDialogPartial", new AuthCommonViewModel());
		}
	</div>
	<div class="modal fade preloader" tabindex="-1">
		<ul class="loader">
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	@{
		var heroCoverPath = Convert.ToString(ViewData["HeroCoverPath"]);
		var heroBreadTitle = Convert.ToString(ViewData["HeroBreadTitle"]);
		var heroBreadSubTitle = Convert.ToString(ViewData["HeroBreadSubTitle"]);
		var heroLogoPath = Convert.ToString(ViewData["HeroLogoPath"]);
	}
	@if (!string.IsNullOrEmpty(heroCoverPath))
	{
		var heroId = System.IO.Path.GetFileNameWithoutExtension(heroCoverPath);
		<div class="hero-parallax" id="@heroId" data-scrollax-parent="true">
			<picture class="hero-cover" data-scrollax="properties: { 'translateY': '50%', 'opacity': 0.5 }">
				<source srcset="@heroCoverPath" media="(min-width: 600px)">
				<img src="@heroCoverPath" alt="">
			</picture>
			<div class="hero-content" data-scrollax="properties: { 'top': '75%'}">
				@if (!string.IsNullOrEmpty(heroLogoPath))
				{
					@Html.VectorIconRender(heroLogoPath, "logo")
				}
				<span class="bread">@heroBreadTitle?.ToUpper()</span>
				<span class="sub-bread">@heroBreadSubTitle?.ToUpper()</span>
				<breadcrumb></breadcrumb>
			</div>
		</div>
	}
	<div class="page-content">
		@RenderBody()
	</div>
	<div class="footer_overlay"></div>
	<footer class="footer">
		<div class="footer_content">
			<div class="footer_logo">
				<a asp-action="Index" asp-controller="Home">KICKSWARE</a>
			</div>
			<div class="copyright">
				Copyright &copy; @Convert.ToString(DateTime.Today.Year) All rights reserved
			</div>
			<div class="menu-social">
				@{
					await Html.RenderPartialAsync("_SocialPartial");
				}
			</div>
		</div>
	</footer>
</div>
<script src="~/dist/layout.js" asp-append-version="true"></script>
@* RENDER BODY SCRIPTS *@
@await RenderSectionAsync("Scripts", false)
@{
	await Html.RenderPartialAsync("_LockedHandlerPartial");
}
<script type="text/javascript">
	$.Scrollax();
</script>
</body>
</html>