@using Web.Utils.Helpers
@model string
@{
	var cssClass = Model ?? "list";
	var htmlAttrs = string.Empty;
	if (cssClass.Contains("carousel-wrapper"))
	{
		cssClass += " js-flickity";
		htmlAttrs = "data-flickity-options='{ wrapAround: true }'";
	}
}

<ul class="social-links @cssClass" data-flickity-options='{ "wrapAround": true }'>
	<li>
		<a href="https://github.com/timoth-y/kicksware-platform" target="_blank" class="social-link github-link">
			@Html.VectorLogoRender("github.svg")
		</a>
	</li>
	<li>
		<a href="https://www.linkedin.com/in/timothy-y/" target="_blank" class="social-link linkedin-link">
			@Html.VectorLogoRender("linkedin.svg")
		</a>
	</li>
	<li>
		<a href="https://www.instagram.com/timoth.y.y" target="_blank" class="social-link instagram-link">
			@Html.VectorLogoRender("instagram.svg")
		</a>
	</li>
	<li>
		<a href="@("https://medium.com/@timothy_y")" target="_blank" class="social-link medium-link">
			@Html.VectorLogoRender("medium.svg")
		</a>
	</li>
	<li class="addt-social">
		<a href="https://www.reddit.com/user/timoth_y" target="_blank" class="social-link reddit-link">
			@Html.VectorLogoRender("reddit.svg")
		</a>
	</li>
	<li class="addt-social">
		<a href="https://www.facebook.com/timothy.yalugin" target="_blank" class="social-link facebook-link">
			@Html.VectorLogoRender("facebook.svg")
		</a>
	</li>
</ul>